body {
  font-family: var(--font-raleway);
  background: url('./components/img/fundo.png'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; 
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10rem;
  text-align: center;
}

.top-bar {
  width: 100%;
  height: 40px; 
  background-color: #FCA7DB; 
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1; /* Define a ordem de empilhamento da barra de pesquisa */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 20px;
  margin-top: 60px; /* Adiciona espaço acima da imagem para ficar abaixo da barra de pesquisa */
  position: relative;
  z-index: 2; 
}

.logo {
  width: 400px; 
  height: auto;
}

.search-bar {
  margin: 10px;
}

.small-search-bar {
  margin: 10px;
  position: absolute;
  top: 100px;
  left: 10%;
  width: 200px; 
  padding: 10px 15px;
  border: 1px solid #ffffff;
  border-radius: 40px;
  font-size: 14px;
  background-color: #FCA7DB;
  color: #ffffff; 
}

.small-search-bar::placeholder {
  color: #ffffff; 
}

.button-container {
  position:relative;
  width: 100%;
  max-width: 1280px;
  margin: 20px auto;
  padding: 20px;
}

.left-buttons, .right-buttons {
  position: fixed; /* Mantém os botões sempre visíveis */
  top: 100%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column; /* Organiza os botões verticalmente */
  gap: 110px; /* Espaço entre os botões */
}

.left-buttons {
  left: 20px; /* Alinha os botões à esquerda */
}

.right-buttons {
  right: 20px; /* Alinha os botões à direita */
}

.button {
  width: 68px; /* Tamanho fixo para todos os botões */
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background-color: #888888;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  height: 100px;
}

.app-container {
    padding: 20px;
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  
  .movie-card {
    background-color: #222;
    border: 2px solid #e50914;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .movie-title {
    padding: 10px;
    font-size: 16px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    max-width: 400px;
    width: 90%;
  }
  
  .close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #b00710;
  }