body {
  font-family: var(--font-raleway);
  background: url('./components/img/fundo.png'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; 
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10rem;
  text-align: center;
}

.top-bar {
  width: 100%;
  height: 40px; 
  background-color: #FCA7DB; 
  position: fixed;
  top: 0;
  left: 0;
}

.search-bar {
  flex: 1;
  width: 400px;
  padding: 10px 100px;
  border: 1px solid #ffffff;
  border-radius: 40px;
  position: absolute;
  font-size: 15px;
  background-color: #888888;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.small-search-bar {
  position:fixed;
  top: 100px;
  left: 10%;
  width: 200px; 
  padding: 10px 15px;
  border: 1px solid #ffffff;
  border-radius: 40px;
  font-size: 14px;
  background-color: #FCA7DB;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 200px;
}

.logo {
  height: auto;
  width: 500px;
}

.search-bar {
  margin: 10px;
}

.small-search-bar {
  margin: 10px;
  z-index: index;
  justify-items: center;
}

.search-bar::placeholder, .small-search-bar::placeholder {
  color: #888888; /* Cor do placeholder */
}


.right-buttons {
  display: flex;
  flex-direction: column; /*Alinha os bot천es verticalmente*/
}

.left-buttons {
  display: flex;
  flex-direction: column; /*Alinha os bot천es verticalmente */
}

.button {
  width: 70px; /* Largura do bot찾o */
  height: 170px; /* Altura do bot찾o */
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #96959561;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: #FCA7DB; /* Cor ao passar o mouse */
  color: black;
}
