body {
  font-family: var(--font-raleway);
  background: url('./components/img/fundo.png'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; 
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10rem;
  text-align: center;
}

.top-bar {
  width: 100%;
  height: 40px; 
  background-color: #FCA7DB; 
  position: fixed;
  top: 0;
  left: 0;
}

.search-bar {
  flex: 1;
  width: 400px;
  padding: 10px 100px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  top: 100px;
  left: 35%;
  border-radius: 40px;
  position: absolute;
  font-size: 15px;
  background-color: #888888;
}
.small-search-bar {
  position: absolute;
  top: 100px;
  left: 10%;
  width: 200px; 
  padding: 10px 15px;
  border: 1px solid #ffffff;
  border-radius: 40px;
  font-size: 14px;
  background-color: #FCA7DB;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items:end;
  padding: 20px;
}

.logo {
  max-width: 700px; /* Ajuste o tamanho conforme necessário */
  height: auto;
}

.search-bar {
  margin: 10px;
}

.small-search-bar {
  margin: 10px;
}

.app-container {
    padding: 20px;
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  
  .movie-card {
    background-color: #222;
    border: 2px solid #e50914;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .movie-title {
    padding: 10px;
    font-size: 16px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    max-width: 400px;
    width: 90%;
  }
  
  .close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #b00710;
  }